@import './base.css';
@import "./animations.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/*TAILWIND THEME CONFIG*/
@theme {
    --color-customGold: #ffc107;
}

/*STYLE DEFAULTS & RESET*/
*, html, body {
    font-family: 'Raleway', sans-serif !important;
    box-sizing: border-box;
}

@media (min-width: 1024px) {
    #dash {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 0 2rem;
    }
}


/*TEXT */
.bigHeader {
    @apply text-4xl font-bold capitalize text-center mb-5;
}


/*ELEMENTS*/
.hero {
    @apply p-5 hidden md:flex flex-col items-center;
}

.announcement-banner {
    @apply flex md:flex-row flex-col gap-y-2 md:gap-y-0 text-center justify-center items-center text-xs gap-x-1 py-1.5 px-5 md:px-0 bg-gradient-to-br from-customGold via-amber-300 to-customGold md:animate-pulse hover:animate-none;
}
