@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import './base.css';
@import "./animations.css";
@import "tailwindcss";

/*TAILWIND THEME CONFIG*/
@theme {
    /*--color-customGold: #ffc107;*/
    --color-customGold: #EABE63ff;
}

/*STYLE DEFAULTS & RESET*/
*, html, body {
    font-family: 'Raleway', sans-serif !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media (min-width: 1024px) {
    #dash {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 0 2rem;
    }
}


/*TEXT */
.bigHeader {
    @apply text-4xl font-bold capitalize text-center mb-5;
}

.header {
    @apply text-3xl font-bold;
}

.subheader {
    @apply font-medium
}

.smallHeader {
    @apply text-xl font-bold;
}

.muteSmallSubheader {
    @apply font-medium text-gray-500 text-sm
}


/*ELEMENTS*/
.hero {
    @apply p-5 hidden md:flex flex-col items-center;
}

.announcement-banner {
    @apply flex md:flex-row flex-col gap-y-2 md:gap-y-0 text-center justify-center items-center text-xs gap-x-1 py-1.5 px-5 md:px-0 bg-customGold  ;
}

.resultListItem {
    @apply bg-white p-5 shadow-md hover:shadow transition-all duration-150 ease-in-out border-gray-200 border my-2 rounded-xl hover:scale-105 hover:border-2 hover:border-gray-300;
}

.tab-selector-active {
    @apply bg-black text-customGold rounded-3xl px-3 py-1 font-bold text-lg tracking-wider hover:cursor-pointer hover:bg-customGold hover:text-black transform transition-all duration-300 ease-in-out;
}

.tab-selector-inactive {
    @apply px-3 py-1 text-black font-bold text-lg tracking-wider hover:cursor-pointer;
}

.ribbon {
    width: 60px;
    padding: 10px 0;
    position: absolute;
    top: -6px;
    right: 20px;
    text-align: center;
    border-top-left-radius: 3px;
    @apply bg-gradient-to-br from-customGold  via-yellow-200 to-customGold shadow-xl font-black;
}

.ribbon:before {
    height: 0;
    width: 0;
    right: -5.5px;
    top: 0.1px;
    border-bottom: 6px solid #8D5A20;
    border-right: 6px solid transparent;
}

.ribbon:before, .ribbon:after {
    content: "";
    position: absolute;
}

.ribbon:after {
    height: 0;
    width: 0;
    bottom: -29.5px;
    left: 0;
    border-left: 30px solid #ffc107;
    border-right: 30px solid #ffc107;
    border-bottom: 30px solid transparent;
}

.hostingPlanCard {
    @apply flex flex-col  justify-center gap-y-2 shadow-xl rounded-2xl p-20 relative transform transition-all;
}

.appsMarqueeCard {
    @apply my-3 shadow bg-customGold px-4 py-2 font-bold cursor-pointer
}