@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import './base.css';
@import "./animations.css";
@import "tailwindcss";

/*TAILWIND THEME CONFIG*/
@custom-variant dark (&:where(.dark, .dark *));
@theme {
    /*--color-customGold: #ffc107;*/
    --color-customGold: #EABE63ff;
    --color-customGold-transparent: rgba(234, 186, 99, 0.6);

}

/*STYLE DEFAULTS & RESET*/
*, html, body {
    font-family: 'Raleway', sans-serif !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: background-color 0.5s ease-in-out, color 0.3s ease-in-out;
}

html {
    @apply dark:bg-gray-800
}

button {
    @apply cursor-pointer;
}

@media (min-width: 1024px) {
    #dash {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 0 2rem;
    }
}


/*TEXT */
.bigHeader {
    @apply text-4xl font-bold capitalize text-center mb-5 dark:text-gray-200;
}

.header {
    @apply text-3xl font-bold dark:text-gray-200;
}

.subheader {
    @apply font-medium dark:text-gray-200
}

.smallHeader {
    @apply text-xl font-bold dark:text-gray-200;
}

.smallerHeader {
    @apply text-sm font-bold dark:text-gray-200;
}

.muteSubheader {
    @apply font-medium text-gray-500 dark:text-gray-400
}

.muteBoldSubheader {
    @apply font-bold text-gray-500 dark:text-gray-400
}

.muteSmallSubheader {
    @apply font-medium text-gray-500 text-sm dark:text-gray-400
}


/*ELEMENTS*/
.hero {
    @apply p-5 md:flex flex-col items-center ;
}

.announcement-banner {
    @apply flex md:flex md:flex-row flex-col gap-y-2 md:gap-y-0 text-center justify-center items-center text-xs gap-x-1 py-1.5 px-5 md:px-0 bg-customGold;
}

.resultListItem {
    @apply p-2 md:p-3 shadow-md hover:shadow transition-all duration-300 ease-in-out border-gray-200 border my-2 rounded-xl hover:scale-105 hover:border-2 hover:border-gray-300 dark:bg-gray-400 dark:border-0 dark:hover:border-0;
}

.resultListAddBtn {
    @apply capitalize bg-customGold text-gray-900 dark:bg-gray-900 dark:text-customGold px-2 md:px-3 py-2 rounded-xl font-bold text-xs md:text-base tracking-wider hover:cursor-pointer hover:bg-gray-900 hover:text-customGold transform transition-all duration-300 ease-in-out dark:hover:bg-customGold dark:hover:text-gray-900;
}

.tab-selector-active {
    @apply bg-black text-customGold rounded-3xl px-3 py-2 font-bold text-lg tracking-wider hover:cursor-pointer hover:bg-customGold hover:text-black transform transition-all duration-100 ease-in-out dark:bg-customGold dark:text-gray-900;
}

.tab-selector-inactive {
    @apply px-3 py-2 text-black font-bold text-lg tracking-wider hover:cursor-pointer transform transition-all duration-100 ease-in-out dark:text-customGold;
}

.ribbon {
    width: 60px;
    padding: 10px 0;
    position: absolute;
    top: -6px;
    right: 20px;
    text-align: center;
    border-top-left-radius: 3px;
    @apply bg-gradient-to-br from-customGold  via-yellow-200 to-customGold shadow-xl font-black;
}

.ribbon:before {
    height: 0;
    width: 0;
    right: -5.5px;
    top: 0.1px;
    border-bottom: 6px solid #8D5A20;
    border-right: 6px solid transparent;
}

.ribbon:before, .ribbon:after {
    content: "";
    position: absolute;
}

.ribbon:after {
    height: 0;
    width: 0;
    bottom: -29.5px;
    left: 0;
    border-left: 30px solid #ffc107;
    border-right: 30px solid #ffc107;
    border-bottom: 30px solid transparent;
}

.hostingPlanCard {
    @apply flex flex-col  justify-center gap-y-2 shadow-2xl rounded-2xl p-20 relative transform transition-all dark:bg-gray-400 border-customGold-transparent border-2 dark:border-0;
}

.appsMarqueeCard {
    @apply my-3 shadow bg-customGold px-4 py-2 font-bold cursor-pointer
}

.dashLink {
    @apply px-3 py-2 font-bold flex items-center mx-auto w-full  dark:text-customGold dark:text-customGold
}

.dashLinkSVG {
    @apply mr-5;
}

.dashLinkActive {
    @apply flex items-center mx-auto w-full bg-customGold dark:text-gray-900;
}

.dashGroupCard {
    @apply rounded-2xl shadow-lg px-10 py-5 bg-gray-100 dark:bg-gray-900
}

.hostingConfigureAppCard {
    @apply flex flex-col items-center shadow rounded-3xl p-5 cursor-pointer transform transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-2xl dark:hover:shadow-2xl dark:hover:scale-110
}

.mobile-nav-item {
    @apply rounded-2xl shadow-2xl p-3 m-1 font-bold border-4 border-customGold dark:text-customGold text-customGold
}

.mobile-nav-item-inactive {
    @apply rounded-2xl shadow-2xl p-3 m-1 font-bold border-4 border-gray-400 dark:text-gray-400 text-gray-500
}

.cloudInfoChip{
    @apply rounded-2xl px-3 py-1 m-1 text-xs inline-block border-2 border-slate-600 text-slate-600 font-medium dark:bg-gray-900 dark:text-customGold;
}

.cloudInfoChip span{
    @apply font-bold text-base uppercase
}